/*Styles For My Resume */

body{
font-family: 'Open Sans', arial, sans-serif;
font-size: 1em;
color:#444;
font-weight:400;
margin-top: 100px;
 margin-bottom: 100px;
 margin-right: 200px;
 margin-left: 80px;
}

#container {
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding-bottom:50px;
}

#name {
  font-size:3em;
  text-transform:uppercase;
  text-align:center;
  color:#33485e;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width:600px;
  margin:0 auto;
}

#title{
  color:#33485e;
  text-transform:uppercase;
  font-size: 1.5em;
  font-weight:600px;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left:0;
  text-align:center;
}

.jumbotron {
  background: url("https://lh3.googleusercontent.com/oQBtdG8c1UfGevjlqGWo6HCiBUKeMiLIbk4E4QaZGXt7u7fLPDJTLlqXQe1mOlmetq-iW1xJfKBKIuVhuTQPOdadbbXEH5QsUAUIt8YSDqSt7EMdoH_vtyGOE9oVbe2uqm53htnD=w2400") no-repeat center center;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     -o-background-size: 100% 100%;
     background-size: 100% 50%;
}

.jumbotron h1{
    color: white;
}

.jumbotron p{
    color: white;
}

.menu{
  font-size:1em;
  margin:0;
  padding:0;
  text-align: center;
}

.menu li{
  display:inline;
}

.sectionheader{
  text-transform:uppercase;
  font-size: 1.5em;
  background-color:#33485e;
  color:#fff;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left:0;
  width:70%;
  min-width:300px;
  padding-left: 50px;
}

.jobtitle{
  font-weight:600;
  font-size:1.5em;
  padding left: 30px;
  margin-left: 30px;
}

.organization{
  font-weight:400;
  font-size:1.25em;
  padding left: 30px;
  margin-left: 30px;
}

.date{
  font-weight:400;
  font-size:1em;
  font-style: italic;
  margin-top:2px;
  margin-left:30px;
  margin-bottom:0;
  margin-right:0;
  padding left: 30px;
}

.description{
  margin-top:10px;
  margin-bottom:0;
  margin-left:30px;
  margin-right:0;
  padding left: 30px;
}

#degrees{
font-size:1em;
margin-top:5px;
margin-left:0;
margin-right:0;
margin-bottom:0;
}

#do{
  font-size:1em;
  margin-top:5px;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
}


.top{
  width:60%;
  min-width:300px;
  margin:0 auto;
  margin-bottom: 30px;
}

.footer{
  font-weight: bold;
  font-style: italic;
  font-size: .5em;
  padding-left: 30px;
}
